@import "bootstrap";
@import "bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css";

body {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #4d4d4d;
}

.current-stats_heading {
  color: #009b9a;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.add-icon {
  font-size: 4rem;
  // color: white;
  color: #009b9a;
}

.date {
  position: relative;
}

.calendar-icon {
  position: absolute;
  top: 2px;
  right: 5px;
  font-size: 1.5rem;
}

.name {
  float: right;
}

body {
  font-family: verdana, arial, helvetica, sans-serif;
  color: #4d4d4d;
}

.current-stats_heading {
  color: #009b9a;
}

.custom-border-bottom:after {
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 50%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.flash.alert:empty {
  display: none;
  padding: 0;
}

.flash.alert {
  background-color: yellow;
}

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

// XX-Large devices (larger desktops, 1400px and up)
// @media (min-width: 1400px) { ... }
